*
{
    margin: 0;
    padding: 0;
    
}
.main{
    background-image: url(reg.jpg);
    background-size: cover;
    
}   
.form{
    width: 400px;
    height: 600px;
    position: absolute;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(20, 20, 20, 0.5));
    left: 500px;
    top: 100px;
    padding-left: 25px;
    border-radius: 10px;
}
.form h2{
    color:orange;
    position: absolute;
    left: 100px;
    padding: 10px;
    /* margin-bottom: 30px ; */
    /* margin-top: 30px; */
    font-family:Arial;
    font-weight: bold;
    font-size: 35px;
}


.form .l1,.l3{
    background:linear-gradient(to top,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    margin: 10px;
    margin-top: 40px;
    width: 350px;
    height: 40px;
    border:none;
    border-bottom: 1px solid orange;

}

.form .l3{
    /* position: absolute; */
    margin-top: 70px;
}
::placeholder{
    color: white;
    font-family: Arial;
    letter-spacing: 1px;
}
.form button{
    margin-top: 20px;
    color: black;
    background-color: orange;
    width: 40%;
    height: 7%;
    position: absolute;
    left: 100px;
    border-radius: 20px;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
}
h1{
    position: absolute;
    color: orange;
    font-family: Arial;
    left: 50px;
    top: 20px;
    font-size: 55px;
}
.form button:hover{
   background-color: white;
}

a{
    color: orange;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    margin-left: 1050px;
    margin-top: 50px;
}
    a:hover{
    color: white;
}
p{
    color: white;
    font-size: 15px;

    font-family: Arial;
}
p a{
    text-decoration: underline;
    position: absolute;
    top: 452px;
    left: -898px;
    color: orange;
    font-size: 20px;
}
p a:hover{
    opacity: 0.7;
}

